<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    /*background: rgba(0, 0, 0, 0.8);*/
    background: lightgrey;
    /*color: #fff;*/
    color: black;
    border-radius: 2px;     
    }

</style>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tailored News Recommendation Based on User Community</title>

    <!-- Bootstrap Core CSS -->
    <link href="./static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="./static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="./static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- NVD3 Theme River -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html">Tailored News Recommendation Based on User Community</a>
            </div>

            <div class="navbar-header">
                <ul class="nav navbar-top-links">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="./index.html"><i class="fa fa-dashboard fa-fw"></i> Visualizations</a>
                        </li>
                        <li>
                            <a href="./recommend.html"><i class="fa fa-file-text fa-fw"></i> Get News Recommendation</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        <br>
            <center>
            <form  action="/results" method="GET">
                <div class="form-group">
                    <input type="text" id="twitter_handle" name="twitter_handle" placeholder="Enter your Twitter handle" style="font-size: 14pt">
                        <select name="comfort_level" style="font-size: 14pt">
                            <option selected disabled>Choose your comfort level</option>
                            <option value="same, same">Same, same</option>
                            <option value="kinda different">Kinda different</option>
                            <option value="way out there">Way out there</option>
                        </select>
                    <button type="submit" class="btn btn-default btn-sm" style="font-size: 14pt">POP!</button>
                    <p style="color:white; font-size:11pt;"><strong>Note:</strong> The app takes a few moments (about 30 seconds) to pull your shared articles from their corresponding websites.</p>
                </div>
            </form>
            </center>
        <br> 
   
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="./static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./static/dist/js/sb-admin-2.js"></script>

    <script src="//d3js.org/d3.v3.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.js"></script>
    <script src="./static/vendor/fisheye.js"  charset="utf-8"></script>

</body>

</html>
