<!-- <!DOCTYPE html> -->
<html lang="en" class="no-js">
<style type="text/css">
    .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 8px;
    /*background: rgba(0, 0, 0, 0.8);*/
    background: lightgrey;
    /*color: #fff;*/
    color: black;
    border-radius: 2px;
    }


    /* Navigation highlight for current page */
    body#home a#homenav, body#about a#aboutnav, body#menupage a#menunav, body#contact a#contactnav {
        background-color: #843534;
    }

    .current:after {
        content: ' ';
        position: absolute;
        border: solid 10px transparent;
        border-top: solid 0px transparent;
        border-width: 10px;
        left: 50%;
        margin-left: -10px;
        border-color: #843534 transparent transparent transparent;
    }

    #slides {
	  position: absolute;
	  z-index: 15;
	  top: 50%;
	  left: 50%;
	  margin: -285px 0 0 -480px;
	  background: black;
	}

</style>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News4U</title>
    <meta name="description" content="We recommend you news based on based on your interest!" />
    <meta name="keywords" content="news recommendation insight"
    />
    <meta name="author" content="Yuan Huang" />
    <!--<link rel="shortcut icon" href="./static/fonts/favicon.ico">-->

    <!-- Bootstrap Core CSS -->
    <link href="../static/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/lib/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />

    <!-- Fonts -->
    <link href="../static/lib/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <!--<link href="../static/css/grayscale.min.css" rel="stylesheet">-->
    <link href="../static/css/grayscale.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/component.css" />

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="head-wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
        	<div class="navbar-header">
        	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        	    <span class="sr-only">Toggle navigation</span>
        	    <span class="icon-bar"></span>
        	    <span class="icon-bar"></span>
        	    <span class="icon-bar"></span>
        	  </button>
        	  <a class="navbar-brand" href="{{ url_for('news') }}">News4U</a>
        	</div>
        	<div id="navbar" class="collapse navbar-collapse">
        	  <ul class="nav navbar-nav">
        	    <li><a href="{{ url_for('news') }}">News Recommendation</a></li>
        	    <li><a href="{{ url_for('how') }}">How It Works</a></li>
        	    <li class="active"><a href="{{ url_for('about') }}">About Me</a></li>
        	  </ul>
        	</div><!--/.nav-collapse -->
          </div>
          <div class="twitterbox">
          </div>
        </nav>
    </div>

    <div class="block"> I am here to block the traffic </div>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-2">
		<img src="../static/img/me.jpg" width=200></img>
	    </div>
            <div class="col-lg-9 col-lg-offset-1">
                <h2>About Yuan Huang</h2>
		<p>Hi, I'm Yuan Huang, a theoretical physicist and an aspiring data scientist. </p>
                <p>I am completing my PhD from University of Massachusetts, Amherst and expect to graduate in the fall of 2017. In my PhD research, I study strongly correlated quantum materials using Quantum Monte Carlo methods in order to better understand their magnetic properties at low temperature. </p>
                <p>As a Data Science Fellow at Insight, I am really excited to apply my coding and analytical skills to the rich data from real life and solve challenging problems with a great impact.</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to email me to provide some feedback on my website, give me suggestions for improvements, or to just say hello!</p>
                <p><a href="mailto:huangy22@gmail.com">huangy22@gmail.com</a>
                </p>
		<p>Check out my profile on Linkedin and my codes on Github for more info about me.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/huangy22/NewsRecommender" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/yuan-huang-ds" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/lib/js/jquery.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/grayscale.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/lib/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/lib/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/sb-admin-2.js"></script>

</body>

</html>
